<h1 mat-dialog-title>Create goal</h1>
<form [formGroup]="form" novalidate="" (ngSubmit)="onSubmit(form.value)">
    <div class="dialog-content" mat-dialog-content>

        <mat-form-field>
            <mat-label>Goal title</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>
        <div class="tasks-header">
            <div>Add some steps to make your goal achievable</div>
            <button mat-button color="primary" type="button" (click)="addTask()">ADD TASK</button>
        </div>
        <div formArrayName="tasks">
            <div class="task-container" *ngFor="let task of tasks.controls; let taskIndex=index"
                [formGroupName]="taskIndex">
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <input matInput formControlName="description" (keydown.enter)="onTaskEnter($event)">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Effort</mat-label>
                    <mat-select formControlName="effort">
                        <mat-option *ngFor="let effort of [1, 2, 3, 5, 7]" [value]="effort">
                            {{effort}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Recurring</mat-label>
                    <mat-select formControlName="recurringType">
                        <mat-option *ngFor="let reccuringType of ['never', 'weekly', 'monthy']" [value]="reccuringType">
                            {{reccuringType}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Due date</mat-label>
                    <input matInput formControlName="duedate" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="removeTask(taskIndex)">
                    delete_outline</mat-icon>
            </div>
        </div>

    </div>
    <div class="dialog-footer" mat-dialog-actions>
        <button mat-button (click)="onCancelClick()">Cancel</button>
        <button mat-button cdkFocusInitial type="submit">Create goal</button>
    </div>
</form>