<div>
    <div class="question-container">
        <span class="label"> Where do you see yourself in 6 years? But 10? but 15? but 20?</span>
        <mat-form-field class="long-textarea" appearance="fill">
            <mat-label>Textarea</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </div>
    <div class="question-container">
        <span class="label"> Where do you see yourself in 6 years? But 10? but 15? but 20?</span>
        <mat-form-field class="long-textarea" appearance="fill">
            <mat-label>Textarea</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </div>
    <div class="question-container">
        <span class="label"> Where do you see yourself in 6 years? But 10? but 15? but 20?</span>
        <mat-form-field class="long-textarea" appearance="fill">
            <mat-label>Textarea</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </div>
    <div class="question-container">
        <span class="label"> Where do you see yourself in 6 years? But 10? but 15? but 20?</span>
        <mat-form-field class="long-textarea" appearance="fill">
            <mat-label>Textarea</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </div>
    
    <div class="goals">
        <span class="section-title">
            Planned goals
        </span>
        <button 
            mat-icon-button 
            color="primary" 
            aria-label="Example icon button with a delete icon"
            (click)="openGoalDialog()">
            <mat-icon>add_box</mat-icon>
        </button>
    </div>
</div>
