<form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea formControlName="comment" matInput
                [ngClass]="{ 'is-invalid': submitted && commentForm.controls['comment'].errors }"></textarea>
        </mat-form-field>
        <div class="invalid-feedback" *ngIf="submitted && commentForm.controls['comment'].errors">
            <div *ngIf="commentForm.controls['comment'].errors.required">Comment is required</div>
            <div *ngIf="commentForm.controls['comment'].errors.minlength">Comment must be at least 6 characters</div>
            <div *ngIf="commentForm.controls['comment'].errors.maxlength">Comment must be at most 100 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button mat-flat-button color="primary" type="submit">Post Comment</button>
    </div>
</form>



<div class="comments" *ngIf="postComments!==undefined">
    <h6 *ngIf="postComments?.length<1">No Comments found</h6>
    <ul *ngIf="postComments?.length>0">
        <li *ngFor="let post of postComments; let i = index;">
            <div class="col-12 col-sm-12 comment-container">
                <p>{{post.commentText}}</p>
                <div class="actions">
                    <span>{{post.currentDate | date: 'dd/MM/yyyy'}}</span>
                    <span class="divider"></span>
                    <button mat-flat-button color="primary" (click)="replyComment(i, post.id)">
                        Reply
                    </button>
                    <span class="divider"></span>
                    <button mat-icon-button [matMenuTriggerFor]="afterMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #afterMenu="matMenu" xPosition="after">
                        <button mat-menu-item (click)="removeComment(post.id)">
                            <mat-icon>delete_outline</mat-icon>
                            <span>Delete</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>check_circle_outline</mat-icon>
                            <span>Resolve</span>
                        </button>
                    </mat-menu>
                </div>
                <div class="childCommentBox">
                    <div datacontainer></div>
                    <ul *ngIf="post?.replyComments?.length>0">
                        <li *ngFor="let rl of post.replyComments">
                            <div class="col-12 col-sm-12 comment-container">
                                <p>{{rl.commentText}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>