<div class="dashboard">
  <div class="tiles">
    <div class="flex-grid-tiles left-block">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Priority">
          <div class="goals-container">
            <div class="goals-section">
              <!-- <div #lineClamp class="line-clamp">
                <b>Line clamp</b> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                egestas.
                Vestibulum tortor quam, feugiat vitae, ultricies eget, jdjfndnfodnfsodnf
              </div> -->

              <!-- <br>

              <div #detection class="detection-container">

                <b>Detect when overflow is present</b> Pellentesque habitant morbi tristique senectus et netus et
                malesuada fames ac turpis egestas.
                Vestibulum tortor quam, feugiat vitae, ultricies eget, jdjfndnfodnfsodnf Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis egestas.
                Vestibulum tortor quam, feugiat vitae, ultricies eget, jdjfndnfodnfsodnf

              </div>

              <div (mouseover)="over()" class="block-with-text">

                <b>Detect hover</b> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                egestas.
                Vestibulum tortor quam, feugiat vitae, ultricies eget, jdjfndnfodnfsodnf Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis egestas.
                Vestibulum tortor quam, feugiat vitae, ultricies eget, jdjfndnfodnfsodnf Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis egestas.
                Vestibulum tortor quam, feugiat vitae, ultricies eget, jdjfndnfodnfsodnf Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis egestas.
                Vestibulum tortor quam, feugiat vitae, ultricies eget, jdjfndnfodnfsodnf
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Vestibulum tortor quam, feugiat vitae, ultricies eget, jdjfndnfodnfsodnf Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis egestas.
                Vestibulum tortor quam, feugiat vitae, ultricies eget, jdjfndnfodnfsodnf Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis egestas.
                Vestibulum tortor quam, feugiat vitae, ultricies eget, jdjfndnfodnfsodnf Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis egestas.
                Vestibulum tortor quam, feugiat vitae, ultricies eget, jdjfndnfodnfsodnf

              </div> -->



              <div class="title">Today</div>
              <div *ngFor="let goal of goalsHighPiority$ | async">
                <section class="goal" *ngIf="!goal.done">
                  <div class="goal-header">
                    <mat-checkbox (change)="markGoalAsDone(goal)" [checked]="goal.done">
                      {{goal.title}}
                    </mat-checkbox>
                    <mat-icon aria-hidden="false" aria-label="Comment" (click)="addComment(goal, $event)">
                      chat_bubble_outlined</mat-icon>
                  </div>
                  <div class="tasks-list">
                    <div>
                      <div *ngFor="let task of goal.tasks">
                        <mat-checkbox [checked]="task.done" (change)="markTaskAsDone(goal, task)">
                          {{task.description}}
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>

            <div class="goals-section">
              <div class="title">This week</div>
              <div *ngFor="let goal of goalsWeek$ | async">
                <section class="goal" *ngIf="!goal.done">
                  <div class="goal-header">
                    <mat-checkbox (change)="markGoalAsDone(goal)" [checked]="goal.done">
                      {{goal.title}}
                    </mat-checkbox>
                    <mat-icon aria-hidden="false" aria-label="Comment" (click)="addComment(goal, $event)">
                      chat_bubble_outlined</mat-icon>
                  </div>
                  <div class="tasks-list">
                    <div>
                      <div *ngFor="let task of goal.tasks">
                        <mat-checkbox [checked]="task.done" *ngIf="!task.done" (change)="markTaskAsDone(goal, task)">
                          {{task.description}}
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Upcoming">
          <div class="goals-container">
            <div class="goals-section">
              <div class="title">This month</div>
              <div *ngFor="let goal of goalsMonth$ | async">
                <section class="goal" *ngIf="goal.done">
                  <div class="goal-header">
                    <mat-checkbox (change)="markGoalAsDone(goal)" [checked]="goal.done">
                      {{goal.title}}
                    </mat-checkbox>
                    <mat-icon aria-hidden="false" aria-label="Comment" (click)="addComment(goal, $event)">
                      chat_bubble_outlined</mat-icon>
                  </div>
                  <div class="tasks-list">
                    <div>
                      <div *ngFor="let task of goal.tasks">
                        <mat-checkbox [checked]="task.done" (change)="markTaskAsDone(goal, task)">
                          {{task.description}}
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>

        </mat-tab>
        <mat-tab label="Done">
          <div class="goals-container">
            <div class="goals-section">
              <div class="title">Achieved</div>
              <div *ngFor="let goal of goalsHistory$ | async">
                <section class="goal" *ngIf="goal.done">
                  <div class="goal-header">
                    <mat-checkbox (change)="markGoalAsDone(goal)" [checked]="goal.done">
                      {{goal.title}}
                    </mat-checkbox>
                    <mat-icon aria-hidden="false" aria-label="Comment" (click)="addComment(goal, $event)">
                      chat_bubble_outlined</mat-icon>
                  </div>
                  <div class="tasks-list">
                    <div>
                      <div *ngFor="let task of goal.tasks">
                        <mat-checkbox [checked]="task.done" (change)="markTaskAsDone(goal, task)">
                          {{task.description}}
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>

    </div>
    <div class="flex-grid-tiles right-block">
      <div class="chart">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
          [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors" [legend]="pieChartLegend">
        </canvas>
      </div>
      <div class="chart">
        <canvas baseChart chartType="bar" [datasets]="datasets" [labels]="comparingChartLabels"
          [options]="chart.options" legend="true">
        </canvas>
      </div>
    </div>
  </div>
</div>