<div class="dashboard">
  <div class="tiles">
    <div class="flex-grid-tiles left-block">
      <div class="goals-container high-priority-container">
        <div class="goal" *ngFor="let goal of goalsHighPiority$ | async">
          <section *ngIf="!goal.done"  class="example-section">
            <span class="example-list-section">
              <mat-checkbox class="example-margin" (change)="changeGoal(goal)" [checked]="goal.done">
                {{goal.title}}
              </mat-checkbox>
            </span>
            <div class="tasks-list">
              <div>
                <div *ngFor="let task of goal.tasks">
                  <mat-checkbox [checked]="task.done" *ngIf="!task.done" (change)="changeTask(goal, task)">
                    {{task.description}}
                  </mat-checkbox>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="goals-container">
        <div class="goal" *ngFor="let goal of goalsMonth$ | async">
          <section class="example-section">
            <span class="example-list-section">
              <mat-checkbox class="example-margin" (change)="changeGoal(goal)" [checked]="goal.done">
                {{goal.title}}
              </mat-checkbox>
            </span>
            <div class="tasks-list">
              <div>
                <div *ngFor="let task of goal.tasks">
                  <mat-checkbox [checked]="task.done" (change)="changeTask(goal, task)">
                    {{task.description}}
                  </mat-checkbox>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="flex-grid-tiles right-block">
      <div></div>
      <div class="goals-container">
        <div class="goal" *ngFor="let goal of goalsHistory$ | async">
          <section *ngIf="goal.done" class="example-section">
            <span class="example-list-section">
              <mat-checkbox class="example-margin" (change)="changeGoal(goal)" [checked]="goal.done">
                {{goal.title}}
              </mat-checkbox>
            </span>
            <div class="tasks-list">
              <div>
                <div *ngFor="let task of goal.tasks">
                  <mat-checkbox [checked]="task.done" (change)="changeTask(goal, task)">
                    {{task.description}}
                  </mat-checkbox>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>