@import "../../../variables.scss";

.dashboard {
    background-color: $backgroung-secondary;
    margin: 8px;
    height: calc(100% - 60px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    .title {
        font-size: 18px;
        line-height: auto;
        font-weight: 500;
        color: $gray-primary;
        padding-bottom: 16px;
    }

    .goals-section {
        padding-bottom: 16px;
    }

    button {
        width: fit-content;
    }

    .goals-container {
        display: flex;
        flex-direction: column;
        padding: 16px;

        .goal {
            padding-bottom: 16px;

            .goal-header {
                display: flex;

                & > * {
                    padding-right: 16px;
                }
            }

            .tasks-list {
                padding-left: 16px;
            }
        }
    }

    .chart {
        padding-bottom: 24px;
    }

    .tiles {
        height: calc(100% - 16px);
        padding: 16px 16px 16px 16px;
        display: flex;
        flex-direction: row;

        .flex-grid-tiles {
            height: 100%;
            width: 50%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            & > * {
                overflow: auto;
                display: flex;
                width: 100%;
                height: 100%;
                background-color: $backgroung-primary;
            }

            &.left-block {
                margin-right: 16px;

                & > * {
                    border-radius: 8px;
                }

                .high-priority-container {
                    margin-bottom: 16px;
                }
            }

            &.right-block {
                :first-child {
                    border-radius: 8px 8px 0 0;
                }

                :last-child {
                    border-radius: 0 0 8px 8px;
                }
            }
        }
    }

    mat-icon {
        cursor: pointer;
    }
}
