
.subtitle {
    margin-top: -15px;
    color: #AAA;
}
.subtitle + .subtitle {
    margin-top: 0;
}
pre {
    overflow: hidden;
}
pre code {
    margin: -15px 0;
}
code {
    display: inline-block;
    margin: 1px 0px;
    padding: 5px;
    background-color: #EEE;
}
